body {
	margin-left:auto;
	margin-right: auto;
	width:1280px;
	height: 720px;
	border: solid;
}

h1 {
	text-align: center;
}

.resource {
	display: block;
	position: absolute;

}

#gameArea {
	position: absolute;
	/*margin-left: auto;
	margin-right:auto;*/
	width:1280px;
	height: 720px;
}

#lumberYard, #quarry {
	display: none;
}